{% extends '_layout/base.twig' %}

{% block content %}

<div class="container flex-wrap flex-grow my-8 lg:flex lg:my-16">

    <main class="lg:w-2/3 lg:pr-16">

        <article class="copy">

            {% do action('ash_wrapper_start') %}

            {% do action('ash_skips_before') %}
            
            {# // skip loop, show 10 results, sort by name (Asc) #}
            {% do action('ash_skips', 10, 'name') %}
            
            {% do action('ash_skips_after') %}
            
            {% do action('ash_wrapper_end') %}

        </article>

    </main>

    <aside class="bg-gray-100 lg:w-1/3">
        {% include "_components/sidebar.twig" %}
    </aside>

</div>

{% endblock %}