<div class="p-4 bg-gray-100 lg:py-16">
    
    <div class="container flex flex-col lg:flex-row lg:flex-wrap">
        
        <div class="p-4 lg:w-5/12 md:p-8">
            <h3 class="inline-block relative after:absolute after:bg-tertiary after:w-full after:h-[2px] after:bottom-0 after:left-0 mb-8">Acknowledgments</h3>
            <p>We would like to thank the following for their help and generosity, without them our journey would have been much
            different.</p>
        </div>

        <div class="flex-wrap p-4 bg-white lg:w-7/12 md:flex">

            <div class="md:w-1/2 md:p-8">
            
                <img width="338" height="78" class="block object-cover object-center w-full lazyload max-w-72" src="" data-src="{{options.acknowledgement_logo.sizes.large|towebp}}" alt="Acknowledgements logo">

                <ul class="my-4">
                    {% for item in options.main_acknowledgements %}
                        <li class="py-2 font-semibold uppercase">{{item.item}}</li>
                    {% endfor %}
                </ul>

            </div>

            <div class="md:w-1/2 md:p-8">

                <h4>Personal Acknowledgments</h4>

                <ul>
                    {% for item in options.personal_acknowledgements %}
                        <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">{{item.item}}</li>
                    {% endfor %}
                </ul>

            </div>

        </div>
        
    </div>
    
</div>