<div class="p-4 bg-gray-100 lg:py-16">
    
    <div class="container flex flex-col lg:flex-row lg:flex-wrap">
        
        <div class="p-4 lg:w-5/12 md:p-8">
            <h3>Acknowledgments</h3>
            <p>We would like to thank the following for their help and generosity, without them our journey would have been much
            different.</p>
        </div>

        <div class="flex-wrap p-4 bg-white lg:w-7/12 md:flex">

            <div class="md:w-1/2 md:p-8">
            
                <img class="block object-cover object-center w-full" src="https://placedog.net/500" alt="">

                <ul class="my-4">
                    <li class="py-2 font-semibold uppercase">Parkinsons UK</li>
                    <li class="py-2 font-semibold uppercase">Lincoln University</li>
                    <li class="py-2 font-semibold uppercase">Greenborough Management LTD.</li>
                    <li class="py-2 font-semibold uppercase">BSA Moundings LTD</li>
                </ul>

            </div>

            <div class="md:w-1/2 md:p-8">

                <h4>Personal Acknowledgments</h4>

                <ul>
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">Doctor Humberstone neurologist Grantham and Lincoln Hospital.</li>
                    
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">Charli Whitaker Lincoln University for the help and advice.</li>
                    
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">Paul Smith Greenborough for the amazing patience and advice given to us.</li>
                    
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">Sue Giles and her family from BSA Mouldings who have become invaluable to Eye Guide MC.</li>
                    
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">James Pinchbeck BA (Hons) DipM FloD Marketing partner, Streets Chartered Accountants.</li>
                    
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">Jake Walton Welland Print.</li>
                    
                    <li class="relative py-2 pl-4 before:rounded-full before:absolute before:top-5 before:left-0 before:bg-tertiary before:w-1 before:h-1 ">Rebecca Mack Ipconsult for her patience and kindness.</li>
                </ul>

            </div>

        </div>
        
    </div>
    
</div>