<div class="container">

	{{ options.logos_header ? '<h3 class="text-center">' ~ options.logos_header ~ '</h3>' }}

	<div class="flex flex-wrap justify-center p-8 lg:justify-around">

		{% if options.logos %}
			{% for logo in options.logos %}

				<img
					class="self-center inline-block h-auto m-2 lazyload max-h-8"
					data-src="{{ logo.image.url|tojpg|letterbox('120', '50', '#fff') }}"
					alt="{{ logo.name }} Logo"
				/>

			{% endfor %}
		{% endif %}

	</div>

</div>
