<div class="fixed z-50 flex flex-wrap w-full bg-primary lg:hidden">

{% include "_components/phone-number.twig" with {
  icon: true,
  iconClasses: 'transform rotate-90 mr-1',
  classes: 'font-semibold text-white w-1/2 p-2 inline-block bg-secondary text-center'
} %}

<button title="Toggle Mobile Menu" class="flex items-center justify-center w-1/2 p-2 font-semibold text-center text-white bg-primary" data-mobile-menu-toggle>
  {{ function('icon', 'bars') }}
  <span class="ml-2">Menu</span>
</button>

</div>
