<div class="py-16 bg-primary">
    <div class="container">
        <div class="flex flex-wrap">

            <div class="w-full text-white md:px-8">
                <h3 class="inline-block relative after:absolute after:bg-tertiary after:w-full after:h-[2px] after:bottom-0 after:left-0 mb-8">News</h3>
            </div>

            <div class="relative flex justify-center w-full px-4 lg:px-6">

                <div class="flex w-full overflow-x-auto overflow-y-hidden scrolling-touch md:-mx-5 2xl:-mx-8 carousel-container">

                    {% for item in posts %}
                    
                        {% include "_components/news-card.twig" with {
                            image: item.thumbnail.src,
                            title: item.title,
                            excerpt: item.post_excerpt,
                            link: item.link,
                            darkBg: true,
                            itemsPerRow: 3,
                        } %}

                    {% endfor %}

                </div>
                <div class="absolute top-0 left-0 flex items-center h-full">
                    <button aria-label="Previous news article" class="px-0 py-2 opacity-25 carousel-arrow carousel-arrow-left">
                        {{function('icon', 'angle-left', 'text-white')}}
                    </button>
                </div>

                <div class="absolute top-0 right-0 flex items-center h-full">
                    <button aria-label="Next news article" class="px-0 py-2 carousel-arrow carousel-arrow-right">
                        {{function('icon', 'angle-right', 'text-white')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>