<h2>Search</h2>
{{ function("get_search_form")}}

<span class="">Categories</span>

<ul>
	{% for cat in categories %}
		<li>
			<a href="{{site.url}}/news/category/{{ cat.slug }}/" class="block">{{ cat.name }}</a>
		</li>
	{% endfor %}
</ul>
