<div class="overflow-hidden ">

    <div class="container py-16 max-w-screen-3xl md:py-24">

        <div class="flex flex-wrap items-center justify-center">

            <div class="z-10 order-2 w-full md:w-1/3 md:order-1 lg:-mr-12">

                <div class="p-8 text-white copy bg-primary">

                    <span class="block tracking-wider uppercase text-tertiary">Watch Now</span>

                    <h3 class="">About me</h3>


                    <p>Hello! I’m Sandra McDonough, the inventor, founder and Director of the Eye Guide MC. I was diagnosed with Parkinson’s on
                    the eve of my 40th birthday and my symptoms rapidly worsened.</p>
                    
                </div>

            </div>

            <div class="order-1 w-full mb-4 md:w-7/12 md:order-2 md:mb-0">

                <video controls class="w-full mb-5 md:mb-0">

                    <source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4"
                        type="video/mp4">

                    Sorry, your browser doesn't support embedded videos.

                </video>

            </div>
            
        </div>
        
    </div>
    
</div>