@import "tailwindcss/base";
@import "tailwindcss/components";

@import 'partials/core.css';
@import 'partials/buttons.css';
@import 'partials/cookies.css';
@import 'partials/desktop-nav.css';
@import 'partials/forms.css';
@import 'partials/mobile-nav.css';
@import 'partials/typography.css';

@import "tailwindcss/utilities";

/* Custom CSS Here */

.carousel-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.carousel-container::-webkit-scrollbar { /* WebKit */
    display: none;
}

.dark-content {
    li {
        @apply relative py-4 pl-6 before:rounded-full before:absolute before:top-6 before:left-0 before:bg-tertiary before:w-2 before:h-2;
    }

    a {
        @apply text-secondary;
    }
}

.hero + .dark-bg-content {
    @apply mt-10;
}