/* ---------------------------------------------------
  Default form styling now handled by Tailwind forms
  https://github.com/tailwindlabs/tailwindcss-forms
  Custom overrides below
--------------------------------------------------- */

form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="search"],
  input[type="tel"],
  input[type="checkbox"],
  input[type="radio"],
  select,
  select[multiple],
  textarea {
    @apply p-4 border-primary/50;
  }

  textarea {
    @apply h-32;
  }

  input[type=submit] {
    @apply p-4 ml-auto font-serif text-lg text-white transition duration-300 cursor-pointer bg-tertiary;

    &:hover {
      @apply bg-tertiary-dark;
    }
  }
}
