@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Source+Serif+Pro:wght@600&display=swap');

/* ---------------------------------------------------
Typography
--------------------------------------------------- */

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @apply mb-4 font-serif font-semibold leading-snug;
}

h1, .h1 {
  @apply text-[30px] lg:text-[50px];
}

h2, .h2 {
  @apply text-[25px] lg:text-[45px];
}

h3, .h3 {
  @apply text-[20px] lg:text-[32px];
}

h4, .h4 {
  @apply text-[20px] lg:text-[28px];
}


/* Copy */

.copy {
  > p {
    @apply mb-6 leading-relaxed;
  }

  a {
    @apply inline-block text-primary;

    &:hover {
      @apply underline;
    }
  }

  ol,
  ul {
    @apply pl-4 mb-8;

    li {
      @apply mb-2 leading-relaxed;
    }
  }

  ul {
    li {
      @apply list-disc;
    }
  }

  ol {
    li {
      @apply list-decimal;
    }
  }

  blockquote {
    @apply p-4 mb-8 bg-gray-100;
  }
}

@screen md {
  .copy {
    img {
      @apply w-auto;
    }

    .alignleft {
      @apply float-left mt-1 mb-1 mr-1;
    }

    .aligncenter {
      @apply float-none mx-auto my-0;
    }

    .alignright {
      @apply float-right mt-1 mb-1 ml-1;
    }
  }
}
