{% extends '_layout/base.twig' %}

{% block hero %}
	<div class="relative bg-primary lg:mt-[-5px] xl:mt-[-15px] text-white flex flex-wrap text-center">

		<div class="hidden lg:block lg:w-1/2 2xl:w-1/3 bg-primary-light">
			<img class="object-cover object-center w-full h-full" src="https://placedog.net/500" alt="">
		</div>

		<div class="w-full lg:w-1/2 p-4 py-16 2xl:w-1/3 order-[-1] 2xl:order-1">

			<p class="h1">Helping people with Parkinson's reclaim independence</p>
			
			<p class="my-8 font-semibold">The Eye Guide MC is a new device invented by a person with Parkinson's, for people with Parkinson's</p>
			
			<a href="{{site.url}}/contact" class="btn btn--secondary">Contact us today</a>

		</div>

		<div class="hidden w-1/3 2xl:order-2 2xl:block bg-primary-light">
			<img class="object-cover object-center w-full h-full" src="https://placedog.net/500" alt="">
		</div>		
		
	</div>
{% endblock %}

{% block content %}

	<div class="container py-12 text-center ">

		<div class="relative after:absolute after:top-1/2 after:left-0 after:w-full after:h-[1px] after:bg-gray-200 mb-8">
			<h2 class="relative z-10 inline-block px-6 mx-auto mb-0 bg-white">Introducing the Eye Guide MC</h2>
		</div>

		<div class="max-w-xl mx-auto copy">

			<p class="font-semibold">The Eye Guide MC is a new device invented by a person with Parkinson's, for people with Parkinson's. It is a simple,
			wearable aid that can drastically improve the quality of life of a person with Parkinson's Disease.</p>
			
			<p>The device sits discreetly over the wearer's ear, lining up to their visual field. It provides a visual sensory stimulus
			which can help to improve a person with Parkinson's balance, walking and tremor.</p>

		</div>
		
	</div>

{% endblock %}
