{% extends '_layout/base.twig' %}

{% block hero %}
	{% include "_components/hero.twig" with {
		imageLeft: post.meta('hero_image_left'),
		imageRight: post.meta('hero_image_right'),
		heading: post.hero_heading,
		subheading: post.hero_subheading,
		heroButton: post.hero_button,
		heroButtonText: post.hero_button_text,
		heroButtonDestination: post.hero_button_destination,
    showNewsletter: true,
	} %}
{% endblock %}

{% block content %}

<div class="p-4 bg-gray-100">
  <div class="relative max-w-screen-xl p-6 pb-12 mx-auto my-8 text-center text-white xl:p-8 xl:pb-16 2xl:p-16 2xl:pb-24 bg-primary">
    <p class="h2">Search our help &amp; advice centre</p>
    <p>Start typing to display results.</p>
    {{ function("get_search_form")}}
  </div>
</div>

<div class="container flex flex-col my-8 lg:flex-row lg:my-16 lg:space-x-12">

  <main class="flex flex-wrap">
    
    {% for post in posts %}

      {% include "_components/news-card.twig" with {
        image: post.thumbnail.src,
        title: post.title,
        excerpt: post.post_excerpt,
        link: post.link,
        itemsPerRow: 4,
      } %}

    {% endfor %}     
    
    {% include "_components/pagination.twig" %}

  </main>

</div>

{% endblock %}
