{% extends '_layout/base.twig' %}

{% block hero %}
	{% include "_components/hero.twig" with {
		imageLeft: post.meta('hero_image_left'),
		imageRight: post.meta('hero_image_right'),
		heading: post.hero_heading,
		subheading: post.hero_subheading,
		heroButton: post.hero_button,
		heroButtonText: post.hero_button_text,
		heroButtonDestination: post.hero_button_destination,
	} %}
{% endblock %}

{% block content %}

<div class="container flex flex-col my-8 lg:flex-row lg:my-16 lg:space-x-12">

  <main class="flex flex-wrap lg:w-2/3">
    
    {% for post in posts %}

      {% include "_components/news-card.twig" with {
        image: post.thumbnail.src,
        title: post.title,
        excerpt: post.post_excerpt
      } %}

    {% endfor %}     
    
    {% include "_components/pagination.twig" %}

  </main>

  <aside class="lg:w-1/3">
    {% include "_views/_components/sidebar--blog.twig" %}
  </aside>

</div>

{% endblock %}
