{% extends '_layout/base.twig' %}

{% block hero %}
	{% include "_components/hero.twig" with {
		imageLeft: post.meta('hero_image_left'),
		imageRight: post.meta('hero_image_right'),
		heading: post.hero_heading,
		subheading: post.hero_subheading,
		heroButton: post.hero_button,
		heroButtonText: post.hero_button_text,
		heroButtonDestination: post.hero_button_destination,
	} %}
{% endblock %}

{% block content %}

	{% for block in post.meta('page_builder') %}

		{% if block.acf_fc_layout == "centered_text" %}

			{% include "_components/centered-content.twig" with {
				heading: block.heading,
				content: block.content,
				hasButton: block.has_button,
				buttonText: block.button_text,
				buttonDestination: block.button_destination,
			} %}

		{% endif %}

	{% endfor %}	`

	
	<div class="relative w-full before:absolute before:bottom-0 before:left-0 before:w-full before:h-[90%] before:z-0 before:bg-primary pb-4">
		<div class="container flex flex-wrap justify-between max-w-screen-3xl">
		{% for team in team_members %}
			{% include "_components/team-card.twig" with {
				name: team.title,
				role: team.role_title,
				image: team.meta('profile_image'),
				bio: team.meta('bio'),
			} %}
		{% endfor %}
		</div>
	</div>

	{% include "_components/video.twig" %}

	{% include "_components/acknowledgments.twig" %}

{% endblock %}
