{% extends '_layout/base.twig' %}

{% block hero %}
	{% include "_components/hero.twig" with {
		imageLeft: post.meta('hero_image_left'),
		imageRight: post.meta('hero_image_right'),
		heading: "Search results for '"~ search_query ~"'",
	} %}
{% endblock %}

{% block content %}
	
	<div class="container flex flex-col my-8 lg:flex-row lg:my-16 lg:space-x-12">
	
		<main class="flex flex-wrap">
			{% if posts %}
				{% for post in posts %}
		
					{% include "_components/news-card.twig" with {
						image: post.thumbnail.src,
						title: post.title,
						excerpt: post.post_excerpt,
						itemsPerRow: 4,
					} %}
		
				{% endfor %}
			{% endif %}
	
			{% include "_components/pagination.twig" %}
	
		</main>
	
	</div>

{% endblock %}
